@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
 //@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
// @include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
//@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;
 
 
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
*:focus {
	outline: none;
}

$primary: #132236;
$secondary: #F8AD5F;

@font-face {
    font-family: 'snell';
    src: url('../fonts/snellbt-bold-webfont.eot');
    src: url('../fonts/snellbt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/snellbt-bold-webfont.woff2') format('woff2'),
         url('../fonts/snellbt-bold-webfont.woff') format('woff'),
         url('../fonts/snellbt-bold-webfont.ttf') format('truetype'),
         url('../fonts/snellbt-bold-webfont.svg#snellbold') format('svg');
    font-weight: bold;
    font-style: normal;
	font-display: swap;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	color: $secondary;
	font-family: 'Source Sans Pro', sans-serif;
}
p,a,body,html {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	color: $primary;
	background-image: url(../img/body_bg.jpg);
	background-size: 100% auto;
	font-family: 'Lato';
	&.overflow {
		overflow: hidden;
	}
}
p {
    font-size: 16px;
    color: #C4C4C4;
    font-family: 'Lato';
    font-weight: 300;
    line-height: 1.4;
    display: inline-block;

}
a {
	cursor: pointer;
}

.loading-screen {
	background: #132236;
	display: flex;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 9999999;
	left: 0;
	top: 0;
	transition: .3s all;
	align-items: center;
	justify-content: center;
	&.hidden {
		top: -100vh;
		opacity: 0;
		pointer-events: none;
	}
	.logo {
		width: 40%;
		max-width: 400px;
		height: auto;
	}
}

.canvas-container {
	overflow: hidden;
	width: 100%;
	position: relative;
}
.off-canvas-menu {
	position: fixed;
	top: 0;
    left: 100%;
    height: auto;
    height: 100vh;
    overflow-y: scroll;
    z-index: 999;
    width: 100%;
    background: #1C2742;
    .off-canvas-inner {
    	position: relative;
    	padding-top: 40px;
    	.menu-main-menu-container {
    		width: 100%;
    	}
    	.close-canvas {
		    position: absolute;
		    top: 10px;
		    right: 10px;
		    font-size: 40px;
		    padding: 10px;
		    color: #fff;
		    transition: .3s all;
		    cursor: pointer;
		    @include breakpoint (small only) {
		    	z-index: 9;
		    }
		    &:hover {
		    	color: #8a8a8a;
		    }
    	}
    	.menu_item_wpglobus_menu_switch .sub-menu {
		    display: block;
		    margin: 0;
		}
    	ul.main-menu {
    		width: 100%;
    		margin: 0;
    		@include breakpoint (small only) {
    			display: flex;
			    flex-direction: column;
			    height: calc(100vh - 60px);
			    justify-content: center;
    		}
    		li {
			    width: 100%;
   				text-align: center;
   				&.menu-item-has-children {
   					@include breakpoint (small only) {
						&>a {
						    background: rgba(45, 94, 158, .1);
						}
					}
   				}
   				a {
				    color: #fff;
				    text-transform: uppercase;
				    line-height: 40px;
				    font-size: 22px;
					&:hover {
						color: $secondary;
					}
   				}
    		}
    	}
    }
    .logo {
	    text-align: center;
   		list-style-type: none;
   		a {
   			img {
   				max-width: 160px;
   				padding-bottom: 40px;
   			}
   		}
    }
}
.header-fix {
	height: 150px;
	&.active {
		/*height: 150px;*/
	}
	@include breakpoint (small only) {
		height: 100px;
	}

}
.main-logo-holder {
    left: 50%;
    top: 240px;
    position: fixed;
    transform: translate(-50%);
    z-index: 100;
    transition: 1s all;
    height: calc(50vh - 200px);
    a {
    	height: 100%;
    	display: inline-block;
    	img {
    		height: 100%; 
    	}
    }
	&.active {
	    top: 10px;
		height: 130px;
		transition: .5s all;
	    a {
	    	img {
	    	}
	    }
	}
	@include breakpoint (small only) {
	    width: 80px;
	    height: 120px;
	    top: 10px;
	    display: none;
	    &.active {
    		width: 80px;
		    height: 120px;
		    top: 10px;
	    }
	}
}
.header {  
	/*padding: 10px 0;*/
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	background: transparent;
	transition: .3s all;
	z-index: 99;
	height: 200px;
	display: flex;
	align-items: center;
	background: transparent;
	&:after {
		content:'';
		position: absolute;
		background: rgba($primary,0.85);
		width: 100%;
		height: 100%;
		top: -100%;
		transition: .5s all;
		z-index: -1;
	}
	&.active {
		height: 150px;
		&:after {
			top: 0;
		}
		@include breakpoint (small only) {
			top: 0;
		}
	}
	&.colored {
		background: #fff;
	} 
	.logo-holder.front-page {
		display: none;
		@include breakpoint (small only) {
			display: inline-block;
		}
	}
	.logo-holder {
		text-align: center;
		padding-top: 10px;
		@include breakpoint (small only) {
			text-align: left;
		}
		a {
			text-align: center;
			img {
				height: 130px;
				@include breakpoint (small only) {
					height: 80px;
					margin-left: 20px;
				}
			}
		}
	}
	@include breakpoint (small only) {
		height: 100px;
		&.active {
			height: 100px;
		}
	}
	.main-navigation {
		position: relative;
		width: 100%;
		height: 100%;
		.logo-cell {
			padding: 0;
			width: 0;
			transition: 0.6s all;
			&.active {
				width: 16.66667%;
				padding-right: .9375rem;
    			padding-left: .9375rem;
			}
			@include breakpoint (small only) {
				width: 50%;
				&.active {
					width: 50%;
					padding: 0;
				}
			}
		}
		.logo-container {
			float: left;
			.logo {
				float: left;
				width: 100%;
				padding: 15px 0;
				a {
					width: 100%;
					text-align: center;
					display: inline-block;
					img {
						display: inline-block;
						max-width: 175px;
						padding-top: 5px;
						width: 175px;
						@include breakpoint (small only) {
							max-width: 175px;
						}
					}
				}
			}
		}
		.grid-container {
			.grid-x.align-center {
				@include breakpoint (small only) {
					justify-content: flex-start;
				}
			}
		}
		.main-menu {
			
		}
		.menu {
			display: inline-block;
			width: 100%;
			text-align: center;
			margin: 0;
			ul {
				display: flex;
			}
			li {
				display: inline-block;
				position: relative;
				z-index: 3;
				padding: 0 5px;
				height: 130px;
				display: flex;
				align-items: center;
				&.current_page_item {
					a {
						color: lighten($secondary,5%);
						border-color: rgba($secondary,0.45);
					}
				}
				&:hover {
					
				}
				a {
					font-size: 18px;
				    color: $secondary;
				    position: relative;
				    padding: 12px;
				    -webkit-transition: 0.3s all;
				    transition: 0.5s all; 
				    text-transform: uppercase;
				    border: 1px solid transparent;
					&:hover {
						color: lighten($secondary,5%);
						border-color: rgba($secondary,0.45);
					}
				}
				&.menu-item-has-children {
				    position: relative;
    				z-index: 4;

					.sub-menu {
					    position: absolute;
					    background: #fff;
					    z-index: 99998;
					    left: -40%;
					    width: 100%;
					    height: 0px;
					    opacity: 0;
					    overflow: hidden;
					    transition: opacity 0.6s;
					    margin: 0;
					    li {
						    width: 100%;
						    text-align: center;
						    padding: 0;
						    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
						    a {
							    line-height: 100%;
							    font-size: 15px;
							    color: #333;
						        padding: 10px 0;
							    margin: 0;
							    border-radius: 0;
							    background: #fff;
						        border: none;
							    border-bottom: 1px solid $primary;
							    width: 100%;
							    text-align: center;
							    margin-bottom: 0;
							    &:hover {
								    background: $primary;
								    color: #fff;
								    box-shadow: none;
								}
							}
						}
					}
					&:hover {
						.sub-menu {
						    display: inline-block;
						    top: 100%;
						    height: auto;
						    opacity: 1;
						    width: 180px;
						}
					}
				}	
			}
		}
		.right {
			.menu {
				text-align: right;
				ul {
					justify-content: flex-end;
				}
				li {
				}
			}
		}
		.left {
			.menu {
				text-align: left;
				ul {
					justify-content: flex-start;
				}
				li {
				}
			}
		}
		.menu-icon {
			&:after {
		        background: #fff;
    			box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
			}
		}
		.show-canvas {
		    position: absolute;
		    right: 10px;
		    top: 0;
		    padding: 20px 10px;
	        height: 100%;
		    display: flex;
		    align-items: center;
		    cursor: pointer;
		    i {
		    	color: $secondary;
		    	font-size: 24px;
		    	&:hover {
		    	}
		    }
		}
		.menu-item-9999999999 {
			position: relative;
			.sub-menu {
				position: absolute;
			    left: 15px;
			    top: 0;
			    display: block;
			}
			a {
			    display: inline-block;
    			padding: 0 !important;
				&:hover {
					background: transparent !important;
				}
			}
			&:hover {
				background: transparent;
				a {
					background: transparent;
				}
			}
		}
		@include breakpoint (small only) {
			.logo {
				a {
					img {
					    max-width: 120px;
					    padding: 10px 10px 0;
					}
				}
			}
			/*.show-canvas {
				top: 7px;
			}*/
		}
	}
	&.other {
		background: $primary-color;
	}
}

.section-hero {
	.hero-content {
		video,img {
			width: 100%;
			height: 100vh;
			object-fit: cover;
			height: calc(60vh - 150px);
			@include breakpoint (small only) {
				height: 150px;
			}
		}
	}
}

.section {
	&.has-decor {
		position: relative;
		padding-top: 150px;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			width: 16px;
			height: 150px;
			transform: translateX(-50%);
			background-image: url(../img/vertical_decor.svg);
			background-size: contain;
			background-position: center top;
			background-repeat: no-repeat;
		}
	}
}
.title-holder {
	width: 100%;
	padding-bottom: 40px;
	@include breakpoint (small only) {
		padding-bottom: 20px;
	}
	.title {
		color: $secondary;
		font-size: 50px;
		font-weight: bold;
		line-height: 50px;
		font-family: 'snell';
		@include breakpoint (small only) {
			font-size: 40px;
			line-height: 40px;
		}
		&:before {
			content: '';
			display: inline-block;
			margin-right: 50px;
			height: 50px;
			width: 30px;
			background-image: url(../img/title_decor_left.svg);
			background-size: contain;
			background-position: center top calc(50% + 8px);
			background-repeat: no-repeat;
			@include breakpoint (small only) {
				width: 20px;
				margin-right: 30px;
			}
		}
		&:after {
			content: '';
			display: inline-block;
			margin-left: 30px;
			height: 50px;
			width: 30px;
			background-image: url(../img/title_decor_right.svg);
			background-size: contain;
			background-position: center top calc(50% + 8px);
			background-repeat: no-repeat;
			@include breakpoint (small only) {
				width: 20px;
				margin-left: 30px;
			}
		}
		&.no-left {
			@include breakpoint (small only) {
				padding-left: 15px;
			}
			&:before {
				display: none;
			}
		}
		&.no-decor {
			&:after,&:before {
				display: none;
			}
		}
	}
}

.button {
	padding: 20px 40px;
	border: 1px solid rgba($secondary,0.45);
	color: $secondary;
	font-size: 16px;
	line-height: 16px;
	display: inline-block;
	transition: .3s all;
	cursor: pointer;
	.arrow {
		padding-left: 15px;
		transition: .3s all;
	}
	&:hover {
		color: $secondary;
		background: rgba($secondary,0.05);
		.arrow {
			transform: translateX(10px);
		}
	}
}

.about-us.section {
	padding-bottom: 60px;

	.title-holder {
		padding: 70px 0 30px;
	}
	p {
		text-align: center;
	}
	.decor-holder {
		height: 100%;
		display: flex;
	    align-items: flex-end;
	    justify-content: center;
	    padding-bottom: 30px;
	    box-sizing: border-box;
	    img {
	    	width: auto;
	    	max-height: 90%;
	    }
	    &.glass {
	    	img {
	    		max-height: 60%;
	    	}
	    }
	}
	.button-holder {
		margin-top: 30px;
	}
	
	&.footer-partners {
		padding: 30px 0;
		.cantines-slider {
			padding: 0 60px;
		}
	}
}

.cantines-slider {
		padding: 30px 60px;
		@include breakpoint (small only) {
			padding: 30px 40px;
		}
		.slick-arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 35px;
			height: 35px;
			background-image: url(../img/triangle-left.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			font-size: 0;
			cursor: pointer;
			transition: .3s all;
			@include breakpoint (small only) {
				width: 24px;
			}
			&.slick-next {
				left: auto;
				right: 0;
				background-image: url(../img/triangle-right.svg);
			}
			&:hover {
				transform: translateY(-50%) scale(1.1);
			}
		}
		.single-slide {
		}
		.single-cantine {
			margin: 20px 0;
			text-align: center;
			a,[data-cantine] {
			    display: inline-block;
			    width: 80%;
			    padding: 20px 0;
			    text-align: center;
			    margin: 0 auto;
			    border: 4px solid #f8ad5f;
			    transition: .3s all;
			    cursor: pointer;
			    @include breakpoint (small only) {
			    	width: 90%;
			    	padding: 10px;
			    	border-width: 1px;
			    }
				img {
					width: 90%;
					height: 80px;
					max-width: 100px;
					max-height: 70px;
					object-position: center;
					object-fit: contain;
					display: inline-block;
				}
				&:hover,&.active {
					background: rgba(#f8ad5f,0.1);
				}
			}
			&.no-link {
				display: inline-block;
			    transition: .3s all;
				img {
				    width: 90%;
				    padding: 20px 10px;
				    text-align: center;
				    margin: 0 auto;
				    border: 4px solid #f8ad5f;
					height: 120px;
    				max-width: 100%;
					object-position: center;
					object-fit: contain;
					display: inline-block;
				}
			}
		}
	}
.all-cantines {
	padding: 90px 0;
	/*background-image: url(../img/leaf.svg);*/
	background-position: left -30px center;
	background-size: 120px;
	background-repeat: no-repeat;
	@include breakpoint (small only) {
		padding: 40px 0;
	}
	.title-holder {
	}
	.products-holder {
		padding: 30px 0 60px;
		display: flex;
		@include breakpoint (small only) {
			flex-direction: column;
			padding: 30px 0;
			height: auto;
		}
		.single-product {
			padding: 0 20px;
			width: 33%;
			@include breakpoint (small only) {
			    width: 100%;
    			margin-bottom: 30px;
			}
			.location {
				color: $secondary;
			} 
			.image-holder {
				position: relative;
				height: 250px;
				margin-bottom: 20px;
				@include breakpoint (small only) {
					margin-bottom: 10px;
					width: 100%;
					height: auto;
				}

				.shape {
					position: absolute;
					width: auto;
					height: 100%;
					left: 0;
					top: 0;
				}
				.photo {
			        position: absolute;
				    right: 46%;
				    top: 5%;
				    -webkit-transform: translateX(50%);
				    -ms-transform: translateX(50%);
				    transform: translateX(50%);
				    width: 33%;
				    height: 88%;
				    object-fit: contain;
				    object-position: center;
				    display: flex;
				}
			}
			.normal-image {
				height: 250px;
				display: inline-block;
				@include breakpoint (small only) {
					height: auto;
					width: 100%;
				}
				.img-holder {
					display: inline-block;
	    			border: 4px solid #f8ad5f;
	    			overflow: hidden;
	    			margin-bottom: 20px;
	    			background: #fff;
					img {
						transition: .3s all;
						transform: scale(0.9);
					}
					&:hover {
						img {
							transform: scale(1);
						}
					}
				}
			}
			.product-name {
				a {
					font-size: 18px;
					color: $secondary;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.map-holder {
		width: 100%;
		position: relative;
		svg {
			width: 100%;
			height: auto;
			path[data-region] {
				transition: .3s all;
				cursor: pointer;
				&:hover,&.active {
					fill: $secondary;
				}
			}
		}
	}
}


.partners {
	padding: 90px 0;
	.title-holder {
		.title {
			display: inline-block;
			padding: 40px 0 70px;
			background-image: url(../img/grapes.svg);
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center;
		}
		.state-title {
			color: $secondary;
			font-size: 60px;
			font-weight: bold;
			line-height: 60px;
			margin-left: 40px;
			font-family: 'snell';
		}
	}
	.partners-holder {
		padding-top: 30px;
		.single-partner {
			position: relative;
			display: flex;
		    align-items: center;
		    justify-content: center;
		    height: 180px;
		    @include breakpoint (small only) {
		    	height: 100px;
		    }
			&:after {
				position: absolute;
				pointer-events: none;
				/*content: '';*/
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(255,255,255,05);
			}
			a {
				display: inline-block;
				width: 100%;
				text-align: center;
			}
			img {
			    max-width: 80%;
			    width: 100%;
			    height: 180px;
			    max-height: 180px;
			    padding: 15px;
			    -webkit-transition: .3s all;
			    transition: .3s all;
			    -o-object-fit: contain;
			    object-fit: contain;
			    background: #fff;
			    @include breakpoint (small only) {
			    	height: 100px;
			    }
			}
		}
	}
	&.in-page {
		padding-top: 0;
		.partners-holder {
			.single-partner {
				margin-bottom: 50px;
			}
		}
	}
}

.get-in-touch {
	padding: 90px 0;
	@include breakpoint (small only){
		padding: 40px 0;
	}
	.title-holder {
		padding-bottom: 60px;
		@include breakpoint (small only){
			padding-bottom: 30px;
		}
	}
	.info {
	    padding: 30px;
    	border: 1px solid rgba($secondary,0.45);
    	display: flex;
    	flex-wrap: wrap;
    	margin-bottom: 60px;
    	justify-content: space-between;
		@include breakpoint (small only){
		    padding: 20px;
    		flex-direction: column;
		}
    	.single-info {
    		margin-bottom: 20px;
		    width: 45%;
		    font-size: 18px;
		    line-height: 20px;
		    display: flex;
		    align-items: center;
		    color: $secondary;
			@include breakpoint (small only){
				width: 100%;
			}
    		img {
    			min-width: 20px;
    			width: 20px;
    			height: 20px;
    			margin-right: 20px;
    			object-fit: contain;
    		}
			&:nth-child(3),&:last-child {
    			margin-bottom: 0;
    		}
    		&:nth-child(3) {
    			@include breakpoint (small only){
					margin-bottom: 20px;
				}
			}
    	}
	}
}


.footer {
    background: rgba(0,0,0,0.2);
	padding-top: 20px;
	.footer-inner {
		padding: 40px 20px;
		border-top: 1px solid rgba($secondary,0.45);
		width: 90%;
		margin: 0 auto;
		box-shadow: border-box;
	}
	.footer-logo {
		@include breakpoint (small only){
			margin-bottom: 30px;
			text-align: center;
		}
	}
	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		justify-content: space-between;
		li {
			a {
				line-height: 30px;
				padding: 0 15px;
				font-size: 18px;
				text-transform: uppercase;
				border: 1px solid transparent;
				transition: .3s all;
				color: $secondary;
				&:hover {
					background: rgba($secondary,0.05);
					border-color: rgba($secondary,0.45);
				}
			}
		}
	}
	.socials {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include breakpoint (small only){
			justify-content: center;
		}
		a {
			margin-right: 15px;
			transition: .3s all;
			width: 40px;
			height: 40px;
			img {
				width: 100%;
				height: 100%;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				background: rgba($secondary,0.15);
			}
		}
	}
	.copyrights {
		margin-top: 30px;
		a {
			color: $secondary;
			cursor: pointer;
		}
		p {
			margin-bottom: 0;
		}
	}
}

.page-banner {
	margin-bottom: 60px;
	.full {
		max-width: 90%;
		margin: 0 auto;
	}
	@include breakpoint (small only) {
		margin-bottom: 0;
		img {
			height: 150px;
			object-fit: cover;
			object-position: center;
		}
	}
}

.about-story {
	padding: 60px 0;
	@include breakpoint (small only) {
		padding: 30px 0;
	}
	.story-image {
		padding: 40px 40px 0;
		@include breakpoint (small only) {
			padding: 10px;
		}
	}
	.offer-image {
		padding-right: 60px;
		@include breakpoint (small only) {
			padding-right: 0;
		}
	}
}

.about-stats {
	padding: 90px 0;
	@include breakpoint (small only) {
		padding: 20px 0 30px;
	}
	.stats-holder {
		display: flex;
		justify-content: space-between;
		@include breakpoint (small only) {
			flex-direction: column;
			justify-content: flex-start;
		}
		.single-stat {
			display: flex;
			text-align: left;
			@include breakpoint (small only) {
				justify-content: center;
				text-align: center;
				align-items: center;
			}
			.icon {
				padding-right: 20px;
				@include breakpoint (small only) {
					max-width: 60px;
				}
				img {
					height: 100%;
					object-position: center;
				}
			}
			.text-holder {
				max-width: 240px;
				height: 100%;
			    display: flex;
			    justify-content: center;
			    flex-direction: column;
				.title {
					color: $secondary;
					font-size: 18px;
				}
				p {
					font-weight: 300;
					margin-bottom: 0;
				}
			}
		} 
	}
}

.contact-section {
	padding: 60px 0;
	.info {
	    padding: 30px;
    	border: 1px solid rgba($secondary,0.45);
    	display: flex;
    	flex-wrap: wrap;
    	margin-top: 60px;
    	justify-content: space-between;
    	@include breakpoint (small only){
		    padding: 20px;
    		flex-direction: column;
    		margin-top: 30px;
    		margin-bottom: 30px;
		}
    	.single-info {
    		margin-bottom: 20px;
		    width: 45%;
		    font-size: 18px;
		    line-height: 20px;
		    display: flex;
		    align-items: center;
		    color: $secondary;
		    @include breakpoint (small only){
				width: 100%;
			}
    		img {
    			width: 20px;
    			height: 20px;
    			margin-right: 20px;
    			object-fit: contain;
    		}
    		&:nth-child(3),&:last-child {
    			margin-bottom: 0;
    		}
    		&:nth-child(3) {
    			@include breakpoint (small only){
					margin-bottom: 20px;
				}
			}
    	}
	}
	.form-holder {
		form {
			.nf-form-fields-required,.nf-field-label,.nf-error-msg.nf-error-field-errors {
				display: none;
			}
			input[type="text"],input[type="tel"],input[type="email"],textarea {
				background: transparent;
    			border-color: $secondary;
    			color: $secondary;
    			&::-webkit-input-placeholder { 
				  color: $secondary;
				}
				&::-moz-placeholder { 
				  color: $secondary;
				}
				&:-ms-input-placeholder { 
				  color: $secondary;
				}
				&:-moz-placeholder { 
				  color: $secondary;
				}
			}
			input[type="button"] {
				padding: 20px 40px;
				border: 1px solid rgba($secondary,0.45);
				color: $secondary;
				font-size: 16px;
				line-height: 16px;
				display: inline-block;
				transition: .3s all; 
				cursor: pointer;
			    height: auto;
			    line-height: 1;
			    float: right;
				&:hover {
					color: $secondary;
					background: rgba($secondary,0.05);
					.arrow {
						transform: translateX(10px);
					}
				}
			}
		}
	}
}


.products-map {
	margin-bottom: 60px;
	map-holder {
		border: 1px solid rgba(255,255,255,0.3);
	}
	svg {
		width: 100%;
		height: auto;
		path[data-select] {
			cursor: pointer;
			transition: .3s all;
			&:hover,&.active {
				fill: $secondary;
			}
		}
		[data-select="true"] {
			fill: $secondary;	
		}
	} 
}


.main-filters {
	padding: 60px 0;
	.filters-holder {
		display: flex;
		align-items: center;
		justify-content: center;
		.single-filter {
			width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid rgba($secondary,0.45);
			height: 60px;
			cursor: pointer;
			transition: .3s all;

			&:first-child {
				border-right-width: 0;
			}
			&:nth-child(2) {
				border-right-width: 0;
			}
			svg {
				height: 24px;
				width: auto;
				margin-right: 25px;
				path {
					transition: .3s all;
					fill: $secondary;
				}
			}
			.text {
				font-size: 16px;
				text-transform: uppercase;
				line-height: 24px;
				transition: .3s all;
				color: $secondary
			}
			&.active {
				background: $secondary !important;
				.text {
					color: $primary;
				}
				svg {
					path {
						fill: $primary;
					}
				}
			}
			&:hover {
				background: rgba($secondary,0.7);
				.text {
					color: $primary;
				}
				svg {
					path {
						fill: $primary;
					}
				}
			}
		}
	}
}

.secondary-filters {
	padding: 0 0 60px;
	display: none;
	&.open {
		display: block;
	}
	.filters-holder {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@include breakpoint (small only){
			flex-wrap: wrap;
		}
		.single-filter ,.more-filters{
			min-width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid rgba($secondary,0.45);
			min-height: 60px;
    		padding: 10px 20px;
			cursor: pointer;  
			margin: 0 40px 40px;
			transition: .3s all;
			@include breakpoint (small only){
			    width: 40%;
				margin: 0 10px 20px;
			}
			.text {
				font-size: 14px;
				text-transform: uppercase;
				line-height: 24px;
				transition: .3s all;
				color: $secondary
			}
			&.active {
				background: $secondary !important;
				.text {
					color: $primary;
				}
			}
			&:hover {
				background: rgba($secondary,0.7);
				.text {
					color: $primary;
				}
			}
			&.more-filters {
				.icon {
					width: 20px;
					height: 20px;
					margin-right: 15px;
					transition: .3s all;
					svg {
						width: 20px;
						height: 20px;
						path {
							fill: $secondary;
						}
					}
				}
				&:hover,&.active {
					.icon {
						svg {
							path {
								fill: $primary;
							}
						}
					}
				}
			}
		}
	}
}

.current-cantine {
	padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .one-cantine {
    	display: none;
    	&.active {
    		display: inline-block;
    	}
    }
    img {
	    /*background: #fff;*/
	    padding: 10px 5px;
	    max-width: 200px;
	    max-height: 150px;
    }
    .title {
	    color: #f8ad5f;
	    font-weight: 700;
	    font-family: 'snell';
	    text-align: center;
	    font-size: 44px;
    }
    &.show-all {
	    border-top: 1px solid #f8ad5f;
	    margin-top: 40px;
	    margin-bottom: 10px;
	    padding-top: 30px;
    	.one-cantine {
    		display: block;
    	}
    	img {
    		background: transparent;
    	}
    }
}

.all-products {
	padding: 60px 0;
	.single-product {
		padding: 0 20px;
		margin-bottom: 30px; 
		.img-holder {
			width: 100%;
			margin-bottom: 20px;
			background: #fff;
			display: inline-block;
			border: 4px solid #f8ad5f;
			overflow: hidden;
			img {
				transition: .3s all;
				transform: scale(0.9);
			}
			&:hover {
				img {
					transform: scale(1);
				}
			} 
		}
		.title,.location {
			font-size: 18px;
			color: $secondary;
			line-height: 1.3;
			text-align: center;
			a {
				color: $secondary;
				transition: .3s all;
				&:hover {
					color: lighten($secondary,15%);
				}
			}
		}
		.location {
			text-align: left;
		}
		.button {
			margin-top: 20px;
		}
	}
	.cell.medium-12 {
		&:first-child {
			.current-cantine {
				&.show-all {
					border-top: none;
					margin-top: 0;
				}
			}
		}
	}
}


.single-product-page {
	padding: 60px 0;
	background-image: url(../img/barrel_decor.svg);
	background-position: center left -60px;
	background-size: 300px;
	background-repeat: no-repeat;
	@include breakpoint (small only) {
		padding:  0 20px;
	}
	.product-content {
		padding-left: 40px;
		@include breakpoint (small only) {
		    padding: 30px 0px 0;
		}
		.title {
			font-family: 'snell';
			font-weight: bold;
			font-size: 50px;
			line-height: 60px;
			color: $secondary;
			@include breakpoint (small only) {
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 20px;
			}
		}
		.sub-title {
			font-family: 'Lato';
			font-size: 20px;
			margin-bottom: 30px;
			color: $secondary;
			min-height: 30px;
		}
		p {
			color: #C4C4C4;
			font-size: 20px;
			font-weight: normal;
		}
		.description {
			margin-bottom: 60px;
			color: #fff;
		}
		.infos {
			display: flex;
			@include breakpoint (small only) {
				flex-direction: column;
			}
			.stats-holder {
				width: 300px;
				@include breakpoint (small only) {
					width: 100%;
				}
				.single-stat {
					display: flex;
				    margin-bottom: 20px;
					.icon {
						display: flex;
						align-items: flex-start;
					    margin-right: 25px;
					    min-width: 35px;
					    justify-content: center;
					    padding-top: 5px;
						img {
							width: 100%;
							max-width: 35px;
							max-height: 35px;
						}
					}
					p {
						line-height: 1.2;
						margin-bottom: 0;
						min-height: 35px;
					    display: flex;
					    align-items: center;
					}
				}
			}
			.location-image {
				transform: translateY(-50px);
				position: relative;
			    padding-left: 60px;
			    width: calc(100% - 300px);
			    box-sizing: border-box;
			    @include breakpoint (small only) {
			    	width: 100%;
			    	transform: none;
			    	padding-left: 0;
			    }
				img {

				}
				.text {
				    position: absolute;
				    bottom: 25px;
				    width: 180px;
				    height: auto;
				    left: 10px;
				    text-align: center;
				    color: #f8ad5f;
				    font-size: 16px;
				    @include breakpoint (small only) {
				    	left: -20px;
			    	    position: static;
					    width: 100%;
					    text-align: left;
				    }
				}
			}
		}
	}
}

.section.new-filters {
	padding: 60px 0px;
	@include breakpoint (small only){
		padding: 30px 0;
	}
	.filters-holder {
		display: flex;
		width: 100%;
		@include breakpoint (small only){
			flex-direction: column;
		}
		.single-filter {
			position: relative;
			min-width: 26%;
			width: auto;
			border-right: 3px solid $secondary;
			transition: .3s all;
			cursor: pointer;
			.image-holder {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				/*transform: skew(-20deg);*/
				img {
					width: 100%;
					height: 300px;
					object-fit: cover;
					@include breakpoint (small only){
						height: 250px;
					}
				}
			}
			.content {
				height: 300px;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				z-index: 2;
				background: rgba(0,0,0,0.6);
				transition: .5s all; 
				@include breakpoint (small only){
					height: 250px;
				}
				.text {
					color: #fff;
					font-size: 50px;
					font-family: 'snell';
					text-align: center;
					margin-bottom: 30px;
					line-height: 105px;
					transition: .5s all;
					@include breakpoint (small only){
						font-size: 40px;
						line-height: 60px;
					}
				}
				.button {
					color: $secondary;
					width: 60%;
					font-size: 20px;
					line-height: 40px;
					text-align: center;
					border: 1px solid $secondary;
					padding: 0 30px;
					transition: .5s all; 
				}
			}
			&:last-child {
				border-right: none;
			}
			&.active {
				min-width: 48% !important;
				.content {
					background: rgba(0,0,0,0.5);
					.text {
						transform: scale(1.5);
					}
					.button {
						background: $secondary;
						color: $primary;
					}
				}
			}
			&:hover {
				.content {
					background: rgba(0,0,0,0.5);
					.text {
						transform: scale(1.5);
					}
					.button {
						background: $secondary;
						color: $primary;
					}
				}
			}
		}
	}
}

.new-about {
	padding: 60px 0;
	background-image: url(../img/about_home.jpg);
	background-size: cover;
	p {
		margin-bottom: 30px;
		@include breakpoint (small only) {
			padding: 0 15px;
		}
	}
}

.display-product {
	.content-holder {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		min-height: 400px;
		background-image: url(../img/display_bg.jpg);
		background-size: cover;
		.logo {
			margin-bottom: 60px;
			max-width: 260px;
		}
	}
	.featured {
		width: 100%;
	}
}

.age-gate-wrapper {
	background: $primary;
}
.age-gate {
	background: $primary;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
	.age-gate-form {
		background: $primary;
		padding: 50px 20px 100px;
		.age-gate-heading {
			height: 200px;
			font-size: 0;
			background-image: url(../img/logo.svg);
			background-size: auto 80%;
			background-position: center;
			background-repeat: no-repeat;
		}
		.age-gate-challenge {
			text-align: center;
			width: 100%;
			display: inline-block;
		    line-height: 30px;
		    font-size: 24px;
		    color: #fff;
		    font-weight: bold;
		    margin-bottom: 30px;
		}
		button[type="submit"] {
			width: 40%;
		    margin: 0 5%;
		    box-sizing: border-box;
		    padding: 20px 40px;
		    border: 1px solid rgba(248,173,95,0.45);
		    color: #F8AD5F;
		    font-size: 22px;
		    line-height: 16px;
		    display: inline-block;
		    transition: .3s all;
		    float: left;
		    cursor: pointer; 
			&:hover {
				color: $secondary;
				background: rgba($secondary,0.05);
				.arrow {
					transform: translateX(10px);
				}
			}
		}
	}
}

.photo_gallery {
	padding: 50px;
	position: relative;
	@include breakpoint (small only) {
		padding: 0 40px;
	}
	img {
		width: 100%;
		height: 500px;
		object-fit: cover;
		object-position: center;
		@include breakpoint (small only) {
			height: 300px;
		}
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -40px;
		width: 35px;
		height: 35px;
		background-image: url(../img/triangle-left.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		font-size: 0;
		cursor: pointer;
		transition: .3s all;
		z-index: 2;
		@include breakpoint (small only) {
			width: 24px;
			left: 0;
		}
		&.slick-next {
			left: auto;
			right: -40px;
			background-image: url(../img/triangle-right.svg);
			@include breakpoint (small only) {
				width: 24px;
				right: 0;
			}
		}
		&:hover {
			transform: translateY(-50%) scale(1.1);
		}
	}
}


.events-page {
	.single-post {
		margin-bottom: 40px;
		.featured-image {
			display: flex;
			margin-right: 40px;
			position: relative;
			overflow: hidden;
			&:after {
				position: absolute;
				z-index: 1;
				content: '';
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.3);
				opacity: 1;
				transition: .3s all;

			}
			@include breakpoint (small only) {
				margin-right: 0;
				margin-bottom: 30px;
			}
			img {
				width: 100%;
				height: 250px;
				object-fit: cover;
				object-position: center;
				transition: .3s all;
			}
			&:hover {
				img {
					transform: scale(1.05);
				}
				&:after {
					opacity: 0;
				}
			}
		}
		.content-holder {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			align-items: flex-start;
			.title-holder {
				padding-bottom: 30px;
				.title {
					font-size: 28px;
					font-family: 'Lato';
					font-weight: 400;
					line-height: 1.4;
				}
				.post-content {
					margin-bottom: 40px;
				}
			}
		}
	}
}


.single-product-cantine {
	.cantine-logo {
		width: 140px;
		height: 140px;
		object-fit: contain;
		object-position: left center;
		margin-bottom: 40px;
	}
	.title {
		font-size: 28px;
		font-family: 'Lato';
		font-weight: 400;
		line-height: 1.4;
		margin-bottom: 40px;
	}
}

.hidden-filters {
	max-height: 0;
	transition: .4s all;
	overflow: hidden;
	&.open {
		max-height: 1000px;
	}
	.products-map {
		margin-bottom: 0;
	}
}
 




















